name = "checkin-worker"
main = "src/index.ts"
compatibility_date = "2026-03-31"

[assets]
directory = "../frontend/dist"
binding = "ASSETS"
not_found_handling = "single-page-application"
run_worker_first = ["/api/*", "/docs", "/openapi.json", "/health", "/typst/*"]

[vars]
TIMEZONE_OFFSET_HOURS = "8"
# 默认为 "https://unpkg.com/@myriaddreamin/typst-ts-web-compiler@0.7.0-rc2/pkg/typst_ts_web_compiler_bg.wasm"
TYPST_WASM_UPSTREAM_URL = ""
TYPST_WASM_KEY = "typst/typst_ts_web_compiler_bg.wasm"

[[r2_buckets]]
binding = "ASSETS_BUCKET"
bucket_name = "REPLACE_ME"

[[d1_databases]]
binding = "DB"
database_name = "checkin_db"
database_id = "REPLACE_ME"

